@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Arima+Madurai:wght@500&family=Bubblegum+Sans&display=swap');

$pink: #F33B68;
$cyan: #61D7E1;
$orange: #FA7C1F;
$purple: #C47EB2;
$light: #F7F5F5;
$indigo: #918DA6;
$blue: #1E336D;
$yellow: #B28669;
$dark: #2A2442;
$green: #7D8C57;
$red: #F44336;
$primary: $pink;
$secondary: $cyan;
$info: $indigo;
$warning: $orange;
$yiq-text-dark: $dark;
$enable-shadows: true;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$body-color: $dark;
$link-color: $secondary;
$link-hover-decoration: none;
$emphasized-link-hover-darken-percentage: 21%;
$border-radius: 30px;
$border-radius-lg: 35px;
$border-radius-sm: 25px;
$box-shadow: 0 4px 16px 0 rgba(0,0,0,0.25);
$box-shadow-sm: 0 3px 10px 0 rgba(0,0,0,0.2);
$box-shadow-lg: 0 6px 20px 0 rgba(0,0,0,0.3);
$border-width: 0px;
$font-family-sans-serif: ABeeZee;
$headings-font-family: 'Bubblegum Sans';